<div id="navbar-container">
  <div class="title-container">
    <div id="site-title">
      <div>Art By</div>
      <div>Susanne Rumbaugh</div>
    </div>
    <button id="nav-menu-button" class="hamburger hamburger--slider" type="button" (click)="toggleNav()" [ngClass]="{'is-active': navActive}">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <!-- Desktop -->
  <div id="nav-links-container">
    <div id="nav-link">
      <a [routerLink]="['/']">Home</a>
    </div>
    <div id="nav-link" *ngFor="let gallery of galleries">
      <a [routerLink]="['/gallery', gallery.id]">{{gallery.title}}</a>
    </div>
    <div id="nav-link">
      <a [routerLink]="['/about']">About</a>
    </div>
  </div>
  <!-- Mobile -->
  <div id="nav-links-slider" [@slideDown]="navActive ? 'down' : 'up'">
    <div id="nav-link">
      <a [routerLink]="['/']">Home</a>
    </div>
    <div id="nav-link" *ngFor="let gallery of galleries">
      <a [routerLink]="['/gallery', gallery.id]">{{gallery.title}}</a>
    </div>
    <div id="nav-link">
      <a [routerLink]="['/about']">About</a>
    </div>
  </div>
</div>
