#router-container {
    background-color: #afc1c2;
}

@media only screen and (min-width: 1024px) {
    #site-container {
        display: grid;
        grid-template-columns: 330px 4fr;
        grid-template-rows: 1fr;
        height: 100vh;
    }
}