<div id="about-container">
    <div id="bio-container">
        <div id="bio-photo-container">
            <img id="bio-photo" class="photo-shadow" src="assets/rumbaugh_about.gif">
        </div>
        <p class="bio-text">
            Suzanne Rumbaugh is both a painter and photographer. Due to her
            extensive background as a painter, her photographs generally take on
            a “painterly” quality. Reflected in both her painting and photography
            is the essence of a moment in time with an eye to underlying
            universal elements of light, texture and form. In her work there also
            exists a timeless quality - one of harmony and balance. <br><br>
            Her photographs are sometimes abstract or mysterious in subject
            and often allegorical in nature. In a sense they become visual poetry.
            Others present a straightforward celebration of a moment in time as
            observed by the artist/photographer. <br><br>
            Suzanne grew up in Skaneateles, New York in the beautiful Finger
            Lakes region of that state. She attended the Pennsylvania State
            University as an undergraduate with a major in graphic design and
            later studied at Parsons and Bank Street College in New York City.
            She is the former Art Director of the Stevenson School in Pebble
            Beach, California. Her work is currently featured at the Carmel Valley
            Art Association in Carmel Valley, California and the Main Street Artists
            gallery in Quincy, California.
        </p>
        <!-- <p class="bio-text">
            Her photographs are sometimes abstract or mysterious in subject
            and often allegorical in nature. In a sense they become visual poetry.
            Others present a straightforward celebration of a moment in time as
            observed by the artist/photographer.
        </p>
        <p class="bio-text">
            Suzanne grew up in Skaneateles, New York in the beautiful Finger
            Lakes region of that state. She attended the Pennsylvania State
            University as an undergraduate with a major in graphic design and
            later studied at Parsons and Bank Street College in New York City.
            She is the former Art Director of the Stevenson School in Pebble
            Beach, California. Her work is currently featured at the Carmel Valley
            Art Association in Carmel Valley, California and the Main Street Artists
            gallery in Quincy, California.
        </p> -->
    </div>
</div>
