#photo-dialog-container {
    max-height: 95vh;
}

#photo-dialog-container button {
    align-self: center;
}

#photo-dialog-container button mat-icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
}

#photo-dialog-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.carousel-caption {
    display: none;
}


@media only screen and (min-width: 1024px) {
    .carousel-caption {
        display: block;
        margin-bottom: 4px;
    }
    
    .caption {
        width: auto;
        color: black;
        background-color: #f5ecd9;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 8px;
        border-radius: 5px;
    }

    .picsum-img-wrapper {
        height: 95vh;
    }

    .picsum-img-wrapper img {
        object-fit: contain;
        height: 100%;
    }
}