<div id="contact-container">
    <div id="contact-container-inner">
        <mat-card class="center-card" id="pricing-info-container">
            <mat-card-title>About the Prints</mat-card-title>
            <mat-card-content class="info-content">
                <p>
                    All photographic prints are scaled to fit onto standard sized 
                    archival fine art photographic paper and are printed using archival inks. 
                    The texture and surface finish of each paper is chosen for the optimum
                    look of the finished print.<br><br>
                    The prints are not matted and are shipped in a mailing tube for maximum
                    protection in handling.<br><br>
                    Prices for finished prints range in price according to the size of the 
                    paper on which they are printed.  Image sizes are appropriately scaled
                    to the paper size.  The largest paper size is 17” x 22’’ and smaller prints
                    range in size down to 11” x 14” paper. Image ratios vary and will determine
                    the margins on each print size.<br><br>
                    These images will also be available as dye-infused metal prints upon request.  Prices will vary according to the size of the finished print.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="center-card compact-card">
            <mat-card-title>Contact Information</mat-card-title>
            <mat-card-content class="info-content">
                <p>For more information on pricing and other questions, please contact</p>
                <div id="contact-info">
                    <p>Suzanne Rumbaugh</p>
                    <a>suzanne@srumbaugh.com</a>
                    <p>831-951-1542</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="center-card compact-card">
            <mat-card-title>Galleries</mat-card-title>
            <mat-card-content class="info-content">
                <div class="gallery-info">
                    <p>CVAA - Carmel Valley Art Association, Carmel Valley, CA.</p>
                    <a>carmelvalleyartassocaition.org</a>
                </div>
                <div class="gallery-info">
                    <p>Main Street Artists Gallery, Quincy, CA.</p>
                    <a>mainstreetartist.net</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
